page-bill-list {
	.listHeader{
		    color: maroon;
			font-weight: bold;
			border-bottom: 1px solid black;
	}
	.listRows{
		border-bottom: dashed 1px #ccc;
	}
	.pay_type_1{
		color: green;
		font-weight: bold;
		font-size: 20px;		
	}
	.pay_type_2{
		color: maroon;
		font-weight: bold;
		font-size: 20px;		
	}
}
