page-chat-pay {
	.message{
		padding:10px;
		background-color:#f7f7f9;
	}
	.message-badget{
		background-color:#990000;
		font-size :8pt;
	}
	.message-badget2{
		background-color:#cccccc;
		font-size :8pt;
	}
}
