<!--
  Generated template for the ChatPayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
			<ion-item no-lines color="navbar"   text-wrap >
				<ion-avatar  item-end  (click)="goToConsultationProfile(question.answerSpec)">
					<img src="{{question?.answerSpec?.small_image_path}}"    (load)="headerloaded = true"   [ngClass]="{'img-loaded':loaded}" [hidden]="!headerloaded">
					<ion-spinner [ngClass]="{'center':true}" *ngIf="!headerloaded"></ion-spinner>							
				</ion-avatar >
				<h2  align="right">{{question?.answerSpec.lang_far_title}}</h2>
				<p align="right" >{{question?.status_title}}</p>						
			</ion-item>
			<ion-buttons left *ngIf="cameType == 1" >
				<button item-left  ion-button clear color="top-button"  (click)='dismiss()'>
					<ion-icon  style="zoom:1.5;margin-left: 10px;"   name="md-close" item-start ></ion-icon>
				</button>	
			</ion-buttons>
			
  </ion-navbar>
			
</ion-header>


<ion-content padding>
			<button ion-button full >کد مشاوره : {{question?.cst_id}}</button>

   <ion-grid>
		 <ion-row>
			   <ion-col>
					<ion-item  text-wrap no-lines item-end >
							<div style="text-align:justify;direction:rtl" class="item item-text-wrap" [innerHTML]="question?.question"> </div>							
							<p  *ngIf="question?.status != 80 " style="color:maroon;" align="right">مشاوره دقیقه ای   {{question?.cost_per_minute}}  تومان، موجودی {{question?.temporary_cost}}  تومان</p>
					</ion-item>
				</ion-col>
		 </ion-row>		
		 <ion-row >
			   <ion-col>
					<ion-item  text-wrap no-lines item-end  color=bar2>
						<p align="center">تا الان {{question?.total_time}} دقیقه مشاوره با هزينه  {{question?.total_cost}} تومان </p>
					</ion-item>
				</ion-col>
		 </ion-row>			
		 <ion-row  *ngFor="let item of messages" >
			   <ion-col >
					<ion-item  text-wrap  no-lines>
							<ion-avatar   *ngIf="item?.userType == 1" item-start>
								<img src="{{item?.senderSpec.small_image_path}}"   (load)="item.senderSpec.loaded = true" [ngClass]="{'img-loaded':loaded}" [hidden]="!item?.senderSpec.loaded">
								<ion-spinner [ngClass]="{'center':true}" *ngIf="!item?.senderSpec.loaded"></ion-spinner>							
							</ion-avatar >		
							<ion-avatar   *ngIf="item?.userType == 2" item-end>
								<img src="{{item?.senderSpec.small_image_path}}"   (load)="item.senderSpec.loaded = true" [ngClass]="{'img-loaded':loaded}" [hidden]="!item?.senderSpec.loaded">
								<ion-spinner [ngClass]="{'center':true}" *ngIf="!item?.senderSpec.loaded"></ion-spinner>							
							</ion-avatar >		
							<div *ngIf="item?.message_type == 1"  align="right"  style="text-align:justify;direction:rtl" class="item item-text-wrap message" [innerHTML]="item?.message"> </div>
							<div *ngIf="item?.message_type == 2"  align="right"  style="text-align:justify;direction:rtl" class="item item-text-wrap message"> 
								<img (click)='showImage(item)' src="{{item?.small_image}}"   class="img-thumbnail"   (load)="loaded = true" [ngClass]="{'img-loaded':loaded}" [hidden]="!loaded">
								<ion-spinner [ngClass]="{'center':true}" *ngIf="!loaded"></ion-spinner>								
							</div>
							<div  *ngIf="item?.message_type == 3"  align="right"  style="text-align:justify;direction:rtl" class="item item-text-wrap "> 
								<img  width="300px" (click)='playSound(item?.file)'  src="{{img[item?.file]}}" class="img-rounded img-responsive"   >
							</div>
							<div class="headerStatus" align="right" style="text-align:justify;direction:rtl" >
								<ion-badge item-end class="message-badget" >{{item?.spend_time}}  دقیقه  </ion-badge>
								<ion-badge item-end class="message-badget2" > {{item?.jsubmit_date}}   {{item?.submit_time}}</ion-badge>  
								<button (click)='removeItem(item)' *ngIf="item?.userType == 1 && item?.status == 0" name="md-close" ion-button clear small >
									<ion-icon name="md-close"></ion-icon> 
								</button>								
							</div>
					</ion-item>
				</ion-col>
		 </ion-row>
   </ion-grid>
	<ion-item  text-wrap no-lines item-end  *ngIf="question?.user_poll > 0 &&  question?.status >= 30 " >
			<button ion-button full  color=bar2 >امتیاز کاربر</button>
			<div align="right" style="text-align:justify;direction:rtl" >
				<br/>
				<span style="font-weight:bold;" align="right">امتیاز : </span> <span style="color:maroon;font-weight:bold;" align="right">{{question?.user_poll_title}}</span>
				<p style="color:maroon;" align="right">{{question?.user_comment}}</p>
			</div>
			
	</ion-item>
	<ion-item  text-wrap no-lines item-end  *ngIf="question?.admin_poll > 0 &&  question?.status >= 40 " >
			<button ion-button full  color=bar2 >امتیاز مدیر</button>
			<div align="right" style="text-align:justify;direction:rtl" >
				<br/>
				<span style="font-weight:bold;" align="right">امتیاز : </span><span style="color:maroon;font-weight:bold;" align="right">{{question?.admin_poll_title}}</span>
				<p style="color:maroon;" align="right">{{question?.admin_comment}}</p>
			</div>			
	</ion-item>   
   <br/>
   <br/>
   <br/>
   <br/>
   <br/>

</ion-content>
<ion-footer *ngIf="question?.status == 20 || question?.status == 0 || question?.cancel == 1" >
  <ion-toolbar color="bar" >
				<button   *ngIf="question?.status == 20 "  ion-button (click)="submitPoll(question)">
					خاتمه
				</button>
				<button  *ngIf=" (question?.status == 20 || question?.status == 0 ) &&  question?.send == 1 " ion-button (click)="sendQuestion(question)">
					ارسال به مشاور
				</button>
				<button *ngIf="question?.status == 0 || (question?.status == 1 && question?.cancel == 1 ) "  ion-button (click)="cancelQuestion(question)">
					لغو
				</button>
		<ion-buttons right *ngIf="question?.status == 20 || question?.status == 0 " >
				<button color="navbar" ion-button icon-only (click)="submitText(question)">
					<ion-icon name="ios-text"></ion-icon>
				</button>				
				<button  color="navbar" ion-button  icon-only  (click)="submitImage(question)">
					<ion-icon name="ios-image"></ion-icon>
				</button>
				<button color="navbar"  ion-button icon-only (click)="submitSound(question)">
					<ion-icon name="ios-mic"></ion-icon>
				</button>
		</ion-buttons>
				
  </ion-toolbar>
</ion-footer>

